{% extends 'planning_travel/base.html' %}
{% load static %}

{% block titulo %}Registrar Hotel como anfitrion{% endblock %}

{% block contenedor %}
<div class="container my-5 w-25">
    <h1 class="text-center">Paso 5: Fotos del hotel</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fotos" class="form-label">Subir Fotos</label>
            <input type="file" class="form-control" id="fotos" name="fotos" multiple>
        </div>
        <div class="row my-4 ">
            <button type="submit" class="btn btn-primary">Finalizar</button>
        </div>
    </form>
</div>
{% endblock %}