<!-- reserva_detalle.html -->
{% extends 'planning_travel/hoteles/dueno_hotel/dueno_hotel.html' %}

{% block content %}
<div style="height: 100%; display: flex;flex-direction: column;align-items: center;justify-content: center;">
    <h2>Detalles de la Reserva</h2>
    <p><strong>Nombre Hotel:</strong> {{ reserva.habitacion.hotel.nombre }}</p>
    <p><strong>Fecha Llegada:</strong> {{ reserva.fecha_llegada }}</p>
    <p><strong>Fecha Salida:</strong> {{ reserva.fecha_salida }}</p>
    <p><strong>Cantidad de Personas:</strong> {{ reserva.cantidad_personas }}</p>
    <p><strong>Total:</strong> {{ reserva.total }}</p>
    <!-- Añade cualquier otro detalle necesario -->
    <a href="{% url 'dueno_hoy' %}" class="btn">Volver</a>
</div>

{% endblock %}
