.container-details {
    padding: 10px 80px;
}

.container-gallery {
    flex-direction: column;
    height: 500px;
    border: 1px solid black;
    width: 50%;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.carrusel-container {
    position: relative;
    overflow: hidden;
    width: 500px;
}

.carrusel {
    display: flex;
    overflow: hidden;
}

.carrusel-item {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
}

.carrusel-item img {
    width: 100%;
    object-fit: cover;
}

.thumbnails-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.thumbnails {
    display: flex;
}

.thumbnails img {
    flex: 0 0 auto;
    max-width: 100px;
    cursor: pointer;
}

.thumbnails img.active {
    border: 2px solid var(--primary-color);
}

.carrusel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.head {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hotel-title {
    font-size: 3rem;
}

.botones-head {
    gap: 8px;
}

.btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-color);
    color: white;
}